#display-cell {
    position: absolute;
    border: 1px solid red;
    top: 20px;
    right: 20px;
    background-color: gray;
    opacity: 0.8;
    height: 450px;
    width: 200px;
    overflow-x: scroll;
}

#population {
    width: 200;
    overflow-x: scroll;
}